<h1 class="text-center font-bold text-3xl pt-32 text-[#001939] mb-5">Tambah Event</h1>
<form
    class="max-w-sm mx-auto bg-slate-100 p-10 rounded-xl shadow-lg border"
    action="/events/add"
    method="POST"
    enctype="multipart/form-data"
>
    <div class="mb-5">
        <label for="nama_event" class="block mb-2 text-sm font-medium text-gray-900"
            >Nama Event</label
        >
        <input
            type="text"
            id="nama_event"
            name="nama_event"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Event..."
            required
        />
    </div>
    <div class="mb-5">
        <label for="poster" class="block mb-2 text-sm font-medium text-gray-900">Poster</label>
        <input
            type="file"
            id="poster"
            name="poster"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            required
        />
    </div>
    <div class="mb-5">
        <label for="lokasi" class="block mb-2 text-sm font-medium text-gray-900">Lokasi</label>
        <input
            type="text"
            id="lokasi"
            name="lokasi"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            required
        />
    </div>
    <div class="mb-5">
        <label for="tanggal" class="block mb-2 text-sm font-medium text-gray-900">Tanggal</label>
        <input
            type="date"
            id="tanggal"
            name="tanggal"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            required
        />
    </div>
    <div class="mb-5">
        <label for="harga" class="block mb-2 text-sm font-medium text-gray-900">Harga</label>
        <input
            type="text"
            id="harga"
            name="harga"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            required
        />
    </div>
    <div class="mb-5">
        <label for="stok" class="block mb-2 text-sm font-medium text-gray-900">Stok</label>
        <input
            type="text"
            id="stok"
            name="stok"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            required
        />
    </div>
    <button
        type="submit"
        name="tambah"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
    >
        Tambah
    </button>
</form>
